* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./assets/images/bg.jpg);
  color: #ffffff85;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

.conteiner {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .conteiner {
    width: 720px;
  }
}

@media (min-width: 1280px) {
  .conteiner {
    width: 1240px;
  }
}

@media (min-width: 1440px) {
  .conteiner {
    width: 1400px;
  }
}

@media (min-width: 2560px) {
  .conteiner {
    width: 2500px;
  }
}
